.activitypage-container {
    overflow-x: hidden;
    margin-top: 50px;
}

.activitypage-searchFilterSort-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin: 20px auto;
}

.activitypage-header{
    text-align: center;
    color: var(--light-2);
}

.activitypage-title{
    font-size: 3.2rem;
    text-align: center;
    background: linear-gradient(#DC0FFF, #FFD721);
    background-clip: text;  /* Standard property for compatibility */
    -moz-background-clip: text; /* Firefox */
    -ms-background-clip: text; /* Internet Explorer */
    -webkit-text-fill-color: transparent;
    margin-bottom: -6px;
}

.activitypage-subtitle{
    font-style: italic;
    text-shadow: 1px 1px 5px #000000;
}
