.userOnSale-card-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
  min-height: 300px;
  max-height: 700px;
  overflow-y: auto;
  /* Hide scrollbar */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.userOnSale-card-list-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/*  --------------------------==================== Empty message ====================-------------------------- */
.userOnSale-empty {
    text-align: center;
    font-size: 1.2rem;
    color: #aaa;

    margin: auto;
    padding: 2rem;
    border: 1px dashed #444;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.8);
}

/*  --------------------------==================== Main container (not include 'Load more' button) ====================-------------------------- */
.userOnSale-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-items: center;
  /* This centers all items in their grid cells */
  gap: 36px;
  width: 100%;
}


.userOnSale-card-item {
  background-color: var(--dark-5);
  border-radius: 12px 12px 0 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  max-width: 220px;
  width: 220px;
  border: 2px solid var(--dark-2);
  position: relative;
  height: 270px;
  transition: all 0.2s ease;
}

/* Card Item Hover Effect */
.userOnSale-card-item:hover {
  /* Must be 4-char alpha-hex make gradient border work */
  border: 2px solid #0000;
  background:
    linear-gradient(var(--dark-5), var(--dark-5)) padding-box,
    linear-gradient(#960BAF, #F8AC52) border-box;
}

/* Card Item Expanded State */
.userOnSale-card-item--expanded {
  /* Must be 4-char alpha-hex make gradient border work */
  border: 2px solid #0000;
  background:
    linear-gradient(var(--dark-5), var(--dark-5)) padding-box,
    linear-gradient(#960BAF, #F8AC52) border-box;
}


/* The product duplicate image use for background */
.userOnSale-card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  opacity: 0.5;
  scale: 0.9;
  z-index: 0;
}

.userOnSale-card-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The product image use for display */
.userOnSale-card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75% !important;
  height: auto;
}

/* Info slide container bottom -> up */
.userOnSale-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 12px 12px 0 0;
  padding: 12px;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* Toggle Arrow */
.userOnSale-card-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Quantity tag */
.userOnSale-tag-quantity {
  position: absolute;
  top: 6px;
  left: 4px;
  z-index: 10;
  background: #34495e;
  color: var(--light-1);
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Sale status base */
.userOnSale-tag-sale-status {
  position: absolute;
  top: 28px;
  right: 3px;
  z-index: 10;
  color: var(--light-1);
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Sale status variations */
.userOnSale-tag-sale-status.on-sale {
  background: #14ac51;
}

.userOnSale-tag-sale-status.sale-halt {
  background: #e79e01;
}

.userOnSale-tag-quantity,
.userOnSale-tag-sale-status {
  cursor: default;
  /* Vô hiệu kéo-thả */
  -webkit-user-drag: none;
  /* Vô hiệu bôi đen chọn văn bản */
  user-select: none;
}

/*  --------------------------==================== Contain inside the bottom slide ====================--------------------------  */
.userOnSale-card-title {
  text-align: left;
  font-size: 18px;
  color: var(--dark-4);
  margin-top: 10px;
  /* Truncate text to 2 lines */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* max 2 lines */
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  /* allow wrapping */
}

.userOnSale-sub-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}


.userOnSale-card-price {
  color: var(--primary-2);
  font-size: 16px;
  text-align: left;
}

.userOnSale-card-quantity {
  color: var(--dark-3);
  font-size: 12px;
  text-align: right;
}


/* 'View Detail' and 'Add to cart' buttons */
.userOnSale-card-actions {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  margin-top: 12px;
}

/*  --------------------------==================== View Detail btn ====================--------------------------  */
.userOnSale-view-button {
  flex: 1;
  border-radius: 10px;
  padding: 3px 15px;
  cursor: pointer;
  /* Must be 4-char alpha-hex make gradient border work */
  border: 2px solid #0000;
  background:
    linear-gradient(var(--light-2-o90), var(--light-2-o90)) padding-box,
    linear-gradient(#DC0FFF, #FFD721) border-box;
}

.userOnSale-view-button-text {
  font-size: 16px;
  background: linear-gradient(#DC0FFF, #FFD721);
  background-clip: text;
  /* Standard property for compatibility */
  -moz-background-clip: text;
  /* Firefox */
  -ms-background-clip: text;
  /* Internet Explorer */
  -webkit-text-fill-color: transparent;
}

.userOnSale-view-button:hover {
  border: 2px solid #0000;
  background:
    linear-gradient(var(--light-1-o90), var(--light-1-o90)) padding-box,
    linear-gradient(#DC0FFF, #FFD721) border-box;
}

/*  --------------------------==================== Cart button ====================--------------------------  */
.userOnSale-cart-button {
  position: relative;
  padding: 6px 12px;

  border-radius: 12px;
  font-size: 16px;
  color: var(--dark-3);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  overflow: hidden;
}

.userOnSale-cart-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  border: 2px solid transparent;
  background: linear-gradient(#DC0FFF, #FFD721) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.userOnSale-cart-button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.userOnSale-cart-icon {
  width: 16px;
  height: 16px;
  filter: var(--darkSVG-3);
}

/* --------------------------==================== More dropdown button ====================-------------------------- */
.userOnSale-dropdown-container {
  position: relative;
  display: inline-block;
  /* Vô hiệu kéo-thả */
  -webkit-user-drag: none;
  /* Vô hiệu bôi đen chọn văn bản */
  user-select: none;
}

.userOnSale-more-button {
  position: relative;
  padding: 6px 12px;

  border-radius: 12px;
  font-size: 16px;
  color: var(--dark-3);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  overflow: visible;
}

.userOnSale-more-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  border: 2px solid transparent;
  background: linear-gradient(#DC0FFF, #FFD721) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.userOnSale-more-button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.userOnSale-more-icon {
  width: 25px;
  height: 25px;
  filter: var(--lightSVG-1);
}


.userOnSale-dropdown-item {
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
  color: var(--dark-5);
  cursor: pointer;
  transition: background-color 0.2s;
}

.userOnSale-dropdown-item:hover {
  background-color: var(--light-2);
  border-radius: 8px;
  margin: 0 2px;
  padding: 8px 10px;
}


/*   --------------------------==================== Load More Button ====================--------------------------  */
.userOnSale-loadmore-button {
  margin: 40px auto 0 auto;
  padding: 4px 20px;
  border: 1px solid var(--secondary-2);
  border-radius: 10px;
  background: transparent;
  font-size: 14px;
  transition: background-color 0.3s ease;
  color: var(--primary-2);
  cursor: pointer;
}

.userOnSale-loadmore-button:hover {
  background-color: rgba(255, 196, 0, 0.1);
}

/* End of content */
.userOnSale-end-content {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  color: var(--primary-3);
  cursor: default;

  -webkit-user-drag: none;
  /* Disable drag functionality */
  user-select: none;
  /* Disable text selection */
  -webkit-touch-callout: none;
  /* Prevent text selection on iOS */
}

/*   --------------------------==================== Upadate Onsale product modal ====================--------------------------  */
.userOnSale-updatePrd-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.userOnSale-updatePrd-modal-container {
  --white: hsl(0, 0%, 100%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(0, 0%, 83%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(266, 92%, 58%);

  position: relative;
  max-height: 100vh;
  width: 90%;
  max-width: 570px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--light-2);

  padding: 20px 28px;
  background-color: hsla(240, 15%, 9%, 1);
  background-image: radial-gradient(at 88% 40%,
      hsla(240, 15%, 9%, 1) 0px,
      transparent 85%),
    radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
    radial-gradient(at 0% 64%, hsla(263, 93%, 56%, 1) 0px, transparent 85%),
    radial-gradient(at 41% 94%, hsla(284, 100%, 84%, 1) 0px, transparent 85%),
    radial-gradient(at 100% 99%, hsla(306, 100%, 57%, 1) 0px, transparent 85%);

  border-radius: 1rem;
  box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.userOnSale-updatePrd-modal-box {
  max-height: 80vh;
  overflow-y: auto;

  /* Hide scrollbar visually but keep scroll functionality */
  scrollbar-width: none;
  /* Firefox */
}

.userOnSale-updatePrd-modal-header {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.userOnSale-updatePrd-modal-field {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.userOnSale-updatePrd-textarea,
.userOnSale-updatePrd-input {
  width: 98%;
  margin: 2px;
  padding: 10px 12px;
  background: var(--dark-1-o50);
  border: 1px solid var(--dark-1);
  color: var(--light-2);
  border-radius: 10px;
}

.userOnSale-updatePrd-helper-text {
  font-size: 12px;
  margin-top: 4px;
}

.userOnSale-updatePrd-modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.userOnSale-updatePrd-btn-cancel,
.userOnSale-updatePrd-btn-save {
  font-weight: bold;
  color: var(--light-3);
  padding: 6px 16px;
  border-radius: 12px;
  cursor: pointer;
}

.userOnSale-updatePrd-btn-cancel {
  background: var(--light-3-o50);
}

.userOnSale-updatePrd-btn-save {
  background-image: linear-gradient(0deg,
      rgb(12, 248, 236) 0%,
      rgba(197, 107, 240, 1) 100%);
  border: 0;
  box-shadow: inset 0 -2px 25px -4px var(--light-3);
  transition: all 0.3s ease;
}

.userOnSale-updatePrd-btn-cancel:hover {
  background: var(--light-4-o50);
}

.userOnSale-updatePrd-btn-save:hover {
  background-image: linear-gradient(0deg,
      rgba(12, 248, 236, 0.71) 0%,
      rgba(198, 107, 240, 0.79) 100%);
}

.userOnSale-updatePrd-btn-save.disabled {
  background: var(--light-2);
  color: var(--light-4);
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
  opacity: 0.6;
}