/* Box image container*/
.productdetailP-image-wrapper {
    position: relative;
    flex: 2;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box image and duplicate background effect */
.productdetailP-box-imgBG {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 5%);
    width: 100%;
    height: 100%;
    filter: blur(12px);
    opacity: 0.45;
    scale: 1.15;
    z-index: 0;
}

.productdetailP-box-imgBG img {
    width: 60%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.productdetailP-box-img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.productdetailP-box-img-wrapper:hover {
    filter: drop-shadow(-8px -8px 10px #7a7575);
    transform: scale(1.06);
}

.productdetailP-box-img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
}

/* Diagonal light pass animation */
.productdetailP-box-img-wrapper::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg,
            transparent,
            transparent 30%,
            rgba(234, 245, 245, 0.3));
    transform: rotate(-45deg);
    transition: all 0.6s ease;
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}

.productdetailP-box-img-wrapper:hover::before {
    transform: rotate(-45deg) translateY(100%);
    opacity: 1;
}


/* Vertical divider */
.productdetailP-divider {
    width: 0.05rem;
    background-color: white;
    border-radius: 2px;
    margin: 0px 40px 20px 30px;
}

/* Box small review statistic container*/
.productdetailP-info-content {
    --tabMain_bg: rgba(13, 19, 33, 0.96);
    background-color: var(--tabMain_bg);
    flex: 3;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--steel_gray-color);
    /* align-items: center; */
    padding: 20px 40px;
    overflow: visible;
}

.productdetailP-boxReview-container {
    width: 36%;
    margin-left: auto;
    padding: 8px 100px;
    clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 5% 100%, 0 50%, 5% 0);
    background: var(--dark-4-o90);
    color: var(--light-1);
    font-size: 0.9rem;
    margin-bottom: 8px;

    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.productdetailP-rating-responsive {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Box info container*/
.productdetailP-box-title {
    margin-bottom: 8px;
    text-align: left;
    font-size: 2.8rem;
    background: linear-gradient(to bottom,
            #FFFFFF 0%,
            #F1F1F1 30%,
            #D1D1D1 67%,
            #BDBDBD 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.productdetailP-box-prize {
    --prizeText-color: rgb(208, 255, 226);
    margin-bottom: 20px;
    color: var(--prizeText-color);
    font-size: 2rem;
    filter: drop-shadow(3px 4px 6px rgb(33, 163, 7));
}

/* Quantity measument and Buy button */
.productdetailP-quantyNbuy-container {
    display: flex;
    gap: 15px;
}

/* Quantity toggle */
.productdetailP-quantity-measure {
    width: 180px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1px;
}

.productdetailP-quantity-iconWrapper-left,
.productdetailP-quantity-iconWrapper-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background: var(--dark-5);
    cursor: pointer;
    z-index:2
}

.productdetailP-quantity-iconWrapper-left:hover,
.productdetailP-quantity-iconWrapper-right:hover {
    background: var(--dark-4);
}

.productdetailP-quantity-iconWrapper-left:active,
.productdetailP-quantity-iconWrapper-right:active {
    background: var(--dark-3);
}

.productdetailP-quantity-iconWrapper-left {
    border-radius: 10px 0 0 10px;
}

.productdetailP-quantity-iconWrapper-right {
    border-radius: 0 10px 10px 0;
}

.productdetailP-quantity-icon {
    width: 20px;
    height: 20px;
    filter: var(--lightSVG-1);
}

.productdetailP-quantity-text {
    padding: 6px 12px;
    color: var(--light-1);
    font-size: 1.16rem;
    text-align: center;
    background: var(--dark-5);
    align-content: center;
}


/* Buy dropdown button */
.productdetailP-buyDropdown-container {
    position: relative;
    display: inline-block;
    overflow: visible;
    /* Vô hiệu kéo-thả */
    -webkit-user-drag: none;
    /* Vô hiệu bôi đen chọn văn bản */
    user-select: none;
}

.productdetailP-buyNow-button {
    width: 100%;
    min-width: 380px;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: var(--purpleBG-buyBtn);
    font-size: 18px;
    color: var(--light-1);
    padding: 8px 0;
    border-radius: 10px;
    border: 2px solid var(--pinkBorder-buyBtn);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

/* Yellow glow on hover */
.productdetailP-buyNow-button:hover {
    background-color: var(--darkPurpleBG-buyBtn);
    box-shadow: 0 0 2px 0px var(--secondary-5-o50), 0 0 12px 4px rgba(255, 255, 0, 0.3);
}

/* Scale down on press */
.productdetailP-buyNow-button:active {
    transform: scale(0.99);
    box-shadow: 0 0 10px 2px rgba(255, 255, 0, 0.3);
}

.productdetailP-dropdown-menu {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--light-2-o90);
    padding: 4px 2px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 140px;
    z-index: 10;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.productdetailP-dropdown-item {
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.productdetailP-dropdown-item:hover {
    background-color: var(--light-2);
    border-radius: 8px;
    margin: 0 2px;
    padding: 8px 10px;
}


/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/
/* -----------------======================= QUERY WOKE =======================------------------------*/
/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/

/* For screen width ≤ 790px */
@media (max-width: 790px) {
    .productdetailP-info-content {
        padding: 20px 10px;
    }

    .productdetailP-quantyNbuy-container {
        flex-direction: column;
    }

    .productdetailP-buyNow-button {
        min-width: 180px;
        max-width: 100%;
        font-size: 16px;
        padding: 6px 0;
    }
}

/* For screen width ≤ 645px */
@media (max-width: 645px) {
    .productdetailP-buyNow-button {
        min-width: 150px;
        font-size: 15px;
    }

    .productdetailP-info-content {
        padding: 12px 10px;
    }

    .productdetailP-box-title {
        font-size: 2rem;
    }

    .productdetailP-box-prize {
        font-size: 1.2rem;
    }


    .productdetailP-quantity-measure {
        width: 120px;
    }

    .productdetailP-quantity-iconWrapper-left,
    .productdetailP-quantity-iconWrapper-right {
        padding: 4px 8px;
    }

    .productdetailP-quantity-iconWrapper-left {
        border-radius: 8px 0 0 8px;
    }

    .productdetailP-quantity-iconWrapper-right {
        border-radius: 0 8px 8px 0;
    }

    .productdetailP-quantity-icon {
        width: 16px;
        height: 16px;
    }

    .productdetailP-quantity-text {
        padding: 4px 8px;
        font-size: 0.95rem;
    }
}

/* For screen width ≤ @media (max-width: 480px) */
@media (max-width: 480px) {
    .productdetailP-buyNow-button {
        max-width: 100vw;
        min-width: 80px;
        font-size: 14px;
        padding: 7px 0;
    }

    .productdetailP-info-content {
        padding: 10px 6px;
    }

    .productdetailP-box-title {
        font-size: 1.2rem;
    }

    .productdetailP-boxReview-container {
        width: 46%;
        padding: 4px 10px;
        font-size: 0.5rem;
    }

    .productdetailP-quantity-measure {
        width: 90px;
    }

    .productdetailP-quantity-iconWrapper-left,
    .productdetailP-quantity-iconWrapper-right {
        padding: 2px 4px;
    }

    .productdetailP-quantity-iconWrapper-left {
        border-radius: 6px 0 0 6px;
    }

    .productdetailP-quantity-iconWrapper-right {
        border-radius: 0 6px 6px 0;
    }

    .productdetailP-quantity-icon {
        width: 12px;
        height: 12px;
    }

    .productdetailP-quantity-text {
        padding: 2px 4px;
        font-size: 0.7rem;
    }
}

/*   /＼＿／ \
　　／ ＼川／ ＼ 
　 ／  ● :: ● ＼ 
　 |三 (_人_) 三| 
　 ＼　 `⌒′　 ／ 
　　/　　 |￣￣|｜ 
　 ｜丶　 | Tea |丶 
　 ｜　＼＿)―(_ノ 
　　＼＿＿　丶 丶 
　　と＿＿＿ノ_ノ */
/* Img Stuff :v  So spoon-feeding */
@media (max-width: 1184px) {
    .productdetailP-image-wrapper {
        width: 45%;
        height: 450px;
    }
}

@media (max-width: 1034px) {
    .productdetailP-image-wrapper {
        width: 50%;
        flex-grow: 1;
    }
}

@media (max-width: 884px) {
    .productdetailP-image-wrapper {
        width: 55%;
        height: 400px;
    }
}

@media (max-width: 734px) {
    .productdetailP-image-wrapper {
        width: 60%;
    }
}

@media (max-width: 645px) {
    .productdetailP-image-wrapper {
        width: 70%;
    }
}

@media (max-width: 584px) {
    .productdetailP-image-wrapper {
        width: 75%;
    }
}

@media (max-width: 534px) {
    .productdetailP-image-wrapper {
        width: 80%;
    }

    .productdetailP-box-imgBG {
        top: 0;
        left: 40;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 434px) {
    .productdetailP-image-wrapper {
        width: 90%;
    }

    .productdetailP-box-imgBG {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 374px) {
    .productdetailP-image-wrapper {
        width: 100%;
    }

    .productdetailP-box-imgBG {
        width: 99%;
        height: 84%;
    }
}