.userAchievement-container {
    min-height: 100%;
    padding: 7px 10px;
    color: var(--light-2, #e6edf3);
}

.userAchievement-medals-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

.userAchievement-medals-grid>* {
    flex: 0 1 200px;
}

/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/
/* -----------------======================= QUERY WOKE =======================------------------------*/
/* -----------------==================== RESPONSIVE STYLES =======================------------------------*/

/* For screen width ≤ 480px */
@media (max-width: 480px) {
    .userAchievement-medals-grid {
        justify-content: flex-start;
    }

    .userAchievement-medals-grid>* {
        flex: 0 1 160px;
    }
}